/* Styling for the main container */
.container {
    max-width: 800px;
    margin: 0 auto 0 120px;
    padding: 40px;
    background-color: #FEF9E7;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); */
  }
  
  /* Styling for the main heading */
  h1 {
    font-family: 'Didot', serif;
    font-size: 48px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Styling for the subheading */
  h2 {
    font-family: 'Didot', serif;
    font-size: 24px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  /* Styling for the paragraph text */
  p {
    font-family: 'Didot', serif;
    font-size: 18px;
    color: #555555;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
  }